@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: rgb(255, 255, 255);
  --whitish: 235, 235, 235;
  --accent-color: 26, 12, 109;
  --secondary-accent-color: 255, 184, 0;
  --tertiary-accent-color: 0, 153, 153;
  --alternative-bg: rgb(202, 223, 255);
  --tertiary-bg-rgb: 254, 156, 147;
}

body {
  font-family: Abcreprovariable, sans-serif;
  color: rgb(var(--accent-color)) !important;
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--alternative-bg);
}

.data-card-steth {
  color: rgb(var(--whitish));
  background-color: rgb(var(--accent-color));
}

.data-card-reth {
  color: rgb(var(--accent-color));
  background-color: rgb(var(--secondary-accent-color));
}

.data-card-cbeth {
  color: rgb(var(--whitish));
  background-color: rgb(var(--tertiary-accent-color));
}

.data-card-beacon {
  color: rgb(var(--accent-color));
  background-color: rgb(var(--tertiary-bg-rgb));
}

h3 {
  color: rgb(var(--accent-color));
}

.table-button-totals-active,
.table-head-totals {
  color: rgb(var(--whitish));
  background-color: rgba(46, 46, 46, 1);
}

.table-button-totals-inactive {
  color: rgb(var(--whitish));
  background-color: rgba(46, 46, 46, 0.8);
}

.table-button-totals-inactive:hover {
  color: rgb(var(--whitish));
  background-color: rgba(46, 46, 46, 0.9);
}

.table-button-steth-active,
.table-head-steth {
  color: rgb(var(--whitish));
  background-color: rgb(var(--accent-color));
}

.table-button-steth-inactive {
  color: rgb(var(--whitish));
  background-color: rgba(var(--accent-color), 0.6);
}

.table-button-steth-inactive:hover {
  color: rgb(var(--whitish));
  background-color: rgba(var(--accent-color), 0.8);
}

.table-button-reth-active,
.table-head-reth {
  color: rgb(var(--accent-color));
  background-color: rgb(var(--secondary-accent-color));
}

.table-button-reth-inactive {
  color: rgb(var(--accent-color));
  background-color: rgba(var(--secondary-accent-color), 0.6);
}

.table-button-reth-inactive:hover {
  color: rgb(var(--accent-color));
  background-color: rgb(var(--secondary-accent-color), 0.8);
}

.table-button-cbeth-active,
.table-head-cbeth {
  color: rgb(var(--whitish));
  background-color: rgb(var(--tertiary-accent-color));
}

.table-button-cbeth-inactive {
  color: rgb(var(--whitish));
  background-color: rgba(var(--tertiary-accent-color), 0.6);
}

.table-button-cbeth-inactive:hover {
  color: rgb(var(--whitish));
  background-color: rgb(var(--tertiary-accent-color), 0.8);
}

.table-button-beacon-active,
.table-head-beacon {
  color: rgb(var(--accent-color));
  background-color: rgb(var(--tertiary-bg-rgb));
}

.table-button-beacon-inactive {
  color: rgb(var(--accent-color));
  background-color: rgba(var(--tertiary-bg-rgb), 0.6);
}

.table-button-beacon-inactive:hover {
  color: rgb(var(--accent-color));
  background-color: rgba(var(--tertiary-bg-rgb), 0.8);
}

.table-head,
.table-button {
  transition: background-color 300ms ease, color 300ms ease;
}

td {
  color: rgb(var(--accent-color));
}

tbody tr:hover {
  background-color: var(--alternative-bg);
}

.leaderboard-table {
  scrollbar-width: none;
}

.leaderboard-table::-webkit-scrollbar {
  display: none;
}

.pagination {
  color: rgb(var(--accent-color));
}
.modal {
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

}

.close-btn{
  color: rgb(var(--whitish));
  background-color: rgb(var(--accent-color));
}

.loading-pulse {
  animation: loading-pulse-animation 1.8s ease-in-out infinite;
}

@keyframes loading-pulse-animation {
  0%, 100% {
    opacity: .65;
  }
  50% {
    opacity: .6;
  }
}
