.terms-conditions a,
.terms-conditions a.visited {
  color: inherit;
  text-decoration: underline;
}
.terms-conditions h1,
.terms-conditions h2,
.terms-conditions h3 {
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
}
.terms-conditions h1 {
  font-size: 1.875rem;
  margin-top: 1.875rem;
}

.terms-conditions h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.terms-conditions h3 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.terms-conditions hr {
  background: transparent;
  display: block;
  width: 100%;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

.terms-conditions img {
  max-width: 100%;
}

@media only print {
  .terms-conditions img {
    max-height: 100vh;
    object-fit: contain;
  }
}

@page {
  margin: 1in;
}

.terms-conditions table,
.terms-conditions th,
.terms-conditions td {
  @apply border border-foreground-1 p-2;
}

.terms-conditions ol,
.terms-conditions ul {
  margin: 0;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

.terms-conditions li > ol:first-child,
.terms-conditions li > ul:first-child {
  margin-block-start: 0.6em;
}

.terms-conditions ul > li {
  list-style: disc;
}

.terms-conditions ul {
  padding-inline-start: 1.7em;
}

.terms-conditions ul > li {
  padding-left: 0.1em;
}

.terms-conditions ol {
  padding-inline-start: 1.6em;
}

.terms-conditions ol > li {
  padding-left: 0.2em;
}

.terms-conditions p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
