@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 20;
}

@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}
